.home {
    background-image: url("../../../assets/images/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0px;
    height: 800px;
}

.home_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.home_content h1 {
    color: white;
    font-size: 48px;
}

.home_content h2 {
    color: white;
    font-size: 32px;
}

.slideshow_section {
    display: flex;
    gap: 2rem;
    margin: 3rem auto;
    max-width: 70rem;
    align-items: center;
    padding: 4rem 0;
}

.slideshow {
    width: 30rem;
    height: 20rem;
}

.btn {
    font: inherit;
    cursor: pointer;
    background-color: white;
    color: #f23a2e;
    padding: 0.5rem 1.5rem;
    border: 1px solid #f23a2e;
    border-radius: 4px;
    text-align: center;
    width: 50%;
    margin-top: 10px;
}

.btn:hover {
    background-color: #f23a2e;
    color: white;
}

.btn:hover a {
    color: white;
}

.btn a {
    text-decoration: none;
    color: #f23a2e;
}

.home_section_membership {
    background-image: url("../../../assets/images/membership.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0px;
    background-attachment: fixed;
}

.home_section_membership .home_content {
    padding: 6rem;
    text-align: center;
}

@media (max-width: 768px) {
    .home_content h1 {
        font-size: 32px;
    }

    .home_content h2 {
        font-size: 20px;
    }

    .slideshow_section {
        display: block;
    }

    .slideshow {
        margin: 0 auto;
        width: 100%;
    }

    .join {
        text-align: center;
        margin-top: 10px;
    }

    .btn {
        width: 45%;
        margin: auto;
        margin-top: 10px;
    }

    .home_section_membership h1 {
        font-size: 26px;
    }
}