.detail {
    text-align: left;
    max-width: 50rem;
    margin: auto;
    margin-top: 12px;
}

.details {
    margin: 10px 0;
    text-align: justify;
}

.detail img {
    width: 100%;
    object-fit: cover;
}